div.channel-settings {
  height: auto;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  background-color: #292b2f;
  border-radius: 5px;
  box-shadow: var(--boxShadow);
  .custom-select {
    color: white;
    padding: 5px;
    border-radius: 3px;
    background-color: #e96745;
    margin-bottom: 15px;
    border: none;
    outline: none;
  }
  .custom-select:hover {
    background-color: #d45637;
  }
  .custom-select:active {
    transform: scale(0.95);
  }

  h5 {
    margin-bottom: 4px;
    color: rgba(220, 221, 222, 0.3);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 12px;
  }

  div.input-border {
    margin-bottom: 5px;
    // padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.095);
  }
  div.create {
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  button {
    color: #fff;
    height: 32px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  button:hover {
    background-color: #d45637;
  }
  button:active {
    transform: scale(0.95);
  }
}
