div.main-channel-nav {
  flex-grow: 1;
  max-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img.main-channel-img {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 50%;
    position: center;
    object-fit: cover;
    margin-top: 10px;
    cursor: pointer;
  };
  div.main-channel-nav-seperator {
    height: 100px;
    flex-grow: 0;
    width: fit-content;
    border-bottom: 1.5px solid var(--main-color);
  };
};