div.list-of-users {
    overflow: scroll;
    height: 33vh;

}
        div.search-user-section {
            margin-top: 2vh;
            display: flex;
            justify-content: center;
            align-items:center;
            flex-direction: column;
        }

        div.search-user-section input {
            background-color: lightgray;
            border: 0;
            border-radius: 2px;
        }

        ::-webkit-input-placeholder {
            text-align: center;
         }




div.add-user-to-channel {
    margin-top: 2vh;
}