section.account {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.671);
  z-index: 4;
  overflow: hidden;

  div.account-main {
    width: 60%;
    height: 60%;
    padding: 20px;
    background-color: #2f3136;
    border-radius: 5px;
    box-shadow: var(--boxShadow);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 8px #000;
    // z-index: 4;
    div.image-name-holder {
      width: 90%;
      margin-left: 5%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #2f3136;
      div {
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          border: 1px solid black;
          box-shadow: 3px 5px 10px #000;
        }
        h1 {
          text-align: center;
          margin-left: 20px;
        }
      }
    }
    .account-settings {
      height: 300px;
      width: 300px;
      margin: 0 auto;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #36393f;
      border-radius: 5px;
      box-shadow: var(--boxShadow);

      div.input-border {
        margin: 5px;
        padding: 8px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.095);
      }
    }
    div.account-bottom-bar {
      width: 90%;
      display: flex;
      padding: 20px;
      justify-self: flex-end;
      justify-content: space-between;
    }
  }
}
