section.sub-nav {
  flex-grow: 1;
  max-width: 220px;
  display: flex;
  flex-direction: column;

  .sub-channel-constructor {
    overflow-y: scroll;
    flex: 1;
    padding: 20px;
    a {
      text-decoration: none;
    };
    h3 {
      color: #858991;
    }
    :hover {
      color: rgb(162, 167, 177);
    };
  };
  div.sub-nav-friends {
    flex: 1;
  };
  .sub-nav-search {
    width: 220px;
    height: 50px;
    box-shadow: 1px 1px 1px #16181a;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: bottom;
    .icon-absolute {
      position: absolute;
      margin-left: 185px;
    };
  };
};
