div.login-register {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--main-background-color) url("../../Assets/lady-2.svg");
  background-position: center;
  background-size: cover;

  .register {
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 5px;
    cursor: pointer;
    text-shadow: 5px 3px 8px #000;
    text-decoration: none;
  }

  .register:hover {
    color: #e96745;
  }

  .register:active {
    transform: scale(0.95);
  }
  div.input-border {
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgba(156, 156, 156, 0.555);

    .color-input {
      // background-color: #fff;
      border-radius: 3px;
    }
    ::placeholder {
      color: #f4f3f1;
      opacity: 1;
    }
  }
}
